$gfred: #ed1c16;
$gfredhover: #b80000;
$gfgreen: #1dbb33;
$gfgreenhover: #1a992a;
$gfyellow: #F6CB16;
$gfyellowhover: #c27d16;
$gfwhite: #fff;
$gflightgrey: #eeeeee;
$gfgrey: #777;
$gfmidgrey: #dedede;
$gfblack: #000000;
$gfblue: #17A1D6;

body {
  background-color: $gfwhite;
}

.brand-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 33%, rgba(29,187,51,0.4500175070028011) 100%);
}

.homepage-hero {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url("../img/gf_hero.jpg");
  background-position: center center;
  background-size: cover;
}

a, p, h1, h2, h3, h4, h5, h6, span, label, input, placeholder, li, textarea {
  font-family: 'Montserrat', sans-serif;
}

.fw100 {
  font-weight: 100;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}

.ts {
  text-shadow: 0 0 10px black;
}

label {
margin-bottom: 3px;
}

.homepage-hero input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.footer-hero input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.footer-hero h4 {
  color: black !important;
  text-shadow: none !important;
}

.footer-hero input {
  border: 1px solid grey;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

.btn {
  border-radius: 0;
}

.btn-hero {
  background-color: $gfred;
  color: white;
  font-weight: 700;
  padding: 10px;
  margin-top: 10px;
}

.btn-hero:hover {
  background-color: $gfredhover;
  color: white;
}

.nav-logo {
  max-width: 100px;
}

.section-head {
  font-family: 'Shadows Into Light Two', cursive;
}

.min-vh-95 {
  min-height: 95vh !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.min-vh-85 {
  min-height: 85vh !important;
}

.min-vh-80 {
  min-height: 80vh !important;
}

.bg-light-grey {
  background-color: $gflightgrey ;
}

.text-green{
  color: $gfgreen;
}

.toast {
  z-index: 999999;
  position: fixed !important;
  bottom: 20px !important;
  left: 20px !important;
  background-color: white;
  border: 2px solid $gfred;
  width: 600px !important;
}

.signpost {
  color: black;
  transition-duration: 350ms;
  text-shadow: 0 0 0 white;
  padding: 10px;
}

.signpost:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px black;
}

//Landing page

.hero-text {
  text-align: center;
  color: white;
  font-weight: 900;
  text-shadow: 1px 1px 5px black ;
}

.hero-text-sub {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px black ;
}

.max-height-x {
  max-height: 600px;
}

.l-250 {
  max-width: 250px;
}

.mh500 {
  max-height: 450px;
}